@import "tailwindcss";

:root {
  --color-dark: #201f23;
  --color-light: #fef3c6;
  --color-fw: #f58e00;
}

/* FONTS */
@font-face {
  font-family: "SonarSans";
  src: url("./assets/Sonar-Regular.otf") format("opentype");
}


@font-face {
  font-family: "RotisSansSerif";
  src: url("./assets/RotisSansSerifStdRegular.otf") format("opentype");
}

footer {
  font-family: "RotisSansSerif";
}

.sonar {
  font-family: 'SonarSans';
}



/* GRADIENT BACKGROUND */
.gradient-page {
    background: linear-gradient(135deg, #63c180, #fea500, #63c180);
    background-size: 500% 500%;
    animation: gradientMove 8s ease-in-out infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}




.gradient-text-hover:hover {
  color: transparent;
  background-image: linear-gradient(135deg, #62c77f, #fea300, #62c77f);
  background-size: 500% 500%;
  background-position: 0% 50%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradientTextMove 8s ease-in-out infinite;
}

@keyframes gradientTextMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


















/* letters */

.float-a {
  animation: floatA 6s ease-in-out infinite;
}

.float-b {
  animation: floatB 5s ease-in-out infinite;
}

.float-c {
  animation: floatC 8.5s ease-in-out infinite;
}

.float-d {
  animation: floatD 7.5s ease-in-out infinite;
}

@keyframes floatA {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(8px, -10px) scale(1.08);
  }
}

@keyframes floatB {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-10px, 6px) scale(0.94);
  }
}

@keyframes floatC {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(2px, 12px) scale(1.06);
  }
}

@keyframes floatD {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-8px, -8px) scale(0.96);
  }
}


